.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1050;

  &.show {
    display: block;
  }
}

.modal-dialog {
  position: relative;
  margin: auto;
  top: 10%;
  padding: 1rem;
  width: 90%;
  max-width: 1200px; // Increased width

  .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    pointer-events: auto;

    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 1rem;
    }

    .modal-header {
      display: flex;
      justify-content: center; // Centering title
      align-items: center;
      color: white;
      text-align: center;

      .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
      }

      .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 0;
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 2rem; // Increased size
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
    }
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;

  &-bordered {
    border: 1px solid #dee2e6;

    th,
    td {
      border: 1px solid #dee2e6;
    }
  }

  thead {
    th {
      background-color: #097862;
      color: white;
    }
  }

  td {
    color: #4b4b4b;
  }
}

.section-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

h6 {
    color: #4b4b4b;
    font-weight: 600;
    text-align: left;
}

.note {
    color: #4b4b4b;
    text-align: left;
}

h3 {
  color: black;
  font-weight: 600;
}

.kode {
  background-color: #16A085;
}

.kode td {
  color: white;
}
