<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"RAINWATER INFILTRATION"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/ri1.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. Wahana Duta Jaya Rucika</h3>
        <p>
          Alio Building, 7th Floor Jl. Ridwan Rais 10 - 18 (Gambir) Jakarta 10110, Indonesia
          <br>Email: info@rucika.co.id
          <br>Telp.: (021) 386 7777
          <br>Website: <a href="http://www.rucika.co.id" target="_blank">www.rucika.co.id</a>
        </p>
        <p>Indonesia sebagai negara tropis memiliki curah hujan yang tinggi. Debit air hujan yang berlebih tentu menimbulkan masalah tersendiri bagi lingkungan, diantaranya : Terjadinya genangan air. Air hujan yang tidak dapat terserap maksimal ke tanah. Naiknya limpasan air hujan di selokan. Rucika sebagai Solusi Total Sistem Perpipaan menghadirkan RAINWATER INFILTRATION yang dibuat dari material uPVC, berfungsi sebagai resapan air hujan sederhana untuk aplikasi rumah tinggal.</p>
      </div>
    </div>
    
    <div class="additional-images">
      <img src="assets/img/brand/ri1.png" alt="RUCIKA Standard">
      <img src="assets/img/brand/ri2.png" alt="Product Image 2">
      <img src="assets/img/brand/ri3.png" alt="Product Image 3">
    </div>
  </div>
</div>
