<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"Genteng Tora – Tora"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/gt1.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. KENCANA MAJU BERSAMA SEMARANG</h3>
        <p>
          Jl. Suratmo No.277, Gisikdrono, Kota Semarang
          <br>Email : info@kencanaindonesia.co.id
          <br> No. Telp. : 081215462426
          <br>Website: <a href="kencanaindonesia.co.id" target="_blank">kencanaindonesia.co.id</a>
        </p>
        <p>
            Genteng Tora – Tora Panjang efektif – 2×4 : 770 mm Lebar efektif : 800 mm Berat per lembar 2×4 : + 1,5 kg Jumlah lembar per m² : 1,62 m² Sudut kemiringan : 5 – 90 derajat.
        </p>
      </div>
    </div>
    
    <div class="additional-images">
      <img src="assets/img/brand/gt1.png" alt="RUCIKA Standard">
      <img src="assets/img/brand/gt2.png" alt="Product Image 2">
    </div>
  </div>
</div>
