<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"Atap Gelombang Ecoclip"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/age1.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. KENCANA MAJU BERSAMA SEMARANG</h3>
        <p>
          Jl. Suratmo No.277, Gisikdrono, Kota Semarang
          <br>Email : info@kencanaindonesia.co.id
          <br> No. Telp. : 081215462426
          <br>Website: <a href="kencanaindonesia.co.id" target="_blank">kencanaindonesia.co.id</a>
        </p>
        <p>
          Bahan Dasar : Zinium G. 550 (Tegangan leleh minim 5500 kg/ cm2 Tebal Standart : 0,45 mm TCT (min) Panjang Produk : Maximum 12.00 m / Roll on Site Tinggi Gelombang : 37 mm Lebar Efektif : 690mm | 1000mm SNI : 4096 : 2019)
        </p>
      </div>
    </div>
    
    <div class="additional-images">
      <img src="assets/img/brand/age1.png" alt="RUCIKA Standard">
      <img src="assets/img/brand/age2.png" alt="Product Image 2">
    </div>
  </div>
</div>
