<div class="container mt-5">
  <h2 class="text-center">ANALISA STANDAR BELANJA (ASB) Tahun 2023</h2>
  <div class="table-responsive">
    <table class="table table-bordered mt-3">
      <thead class="header">
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">Kecamatan</th>
          <th colspan="2">
            Bangunan Kantor dan Bangunan Lainnya per M2 (Rupiah)
          </th>
          <th colspan="4">Rumah Negara</th>
          <th colspan="2">Pagar Bangunan Gedung Kantor dan Bangunan Lainnya</th>
          <th colspan="4">Pagar Rumah Negara</th>
        </tr>
        <tr>
          <th>Tidak Sederhana per M2 (Rupiah)</th>
          <th>Sederhana per M2 (Rupiah)</th>
          <th>Rumah Negara Tipe A per M2 (Rupiah)</th>
          <th>Rumah Negara Tipe B per M2 (Rupiah)</th>
          <th>Rumah Negara Tipe C,D,E per M2 (Rupiah)</th>
          <th>Rumah Negara Tipe F per M2 (Rupiah)</th>
          <th>Pagar Depan per M1 (Rupiah)</th>
          <th>Pagar Belakang per M1 (Rupiah)</th>
          <th>Pagar Depan per M1 (Rupiah)</th>
          <th>Pagar Belakang per M1 (Rupiah)</th>
          <th>Pagar Sampling per M1 (Rupiah)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Kecamatan Lais</td>
          <td>5.140.000</td>
          <td>4.200.000</td>
          <td>4.930.000</td>
          <td>4.680.000</td>
          <td>4.170.000</td>
          <td>2.110.000</td>
          <td>1.780.000</td>
          <td>1.730.000</td>
          <td>1.960.000</td>
          <td>1.140.000</td>
          <td>1.100.000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Kecamatan Keluang</td>
          <td>5.140.000</td>
          <td>4.200.000</td>
          <td>4.930.000</td>
          <td>4.680.000</td>
          <td>4.170.000</td>
          <td>2.110.000</td>
          <td>1.780.000</td>
          <td>1.730.000</td>
          <td>1.960.000</td>
          <td>1.140.000</td>
          <td>1.100.000</td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>
