<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"RUCIKA STANDARD"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/rs1.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. Wahana Duta Jaya Rucika</h3>
        <p>
          Alio Building, 7th Floor Jl. Ridwan Rais 10 - 18 (Gambir) Jakarta 10110, Indonesia
          <br>Email: info@rucika.co.id
          <br>Telp.: (021) 386 7777
          <br>Website: <a href="http://www.rucika.co.id" target="_blank">www.rucika.co.id</a>
        </p>
        <p>
          RUCKIKA STANDARD adalah pipa PVC untuk jaringan sistem perpipaan air bersih bertekanan dan buangan. Terbuat dari bahan uPVC (Unplasticized Polyvinyl Chloride) yang banyak sekali kelebihannya dibanding material polimer lainnya, seperti: adanya Calcium Zinc (Tanpa Timbal), tahan terhadap korosi, kuat, ringan, mudah dalam penyambungan dan pemeliharaan. RUCKIKA STANDARD diproduksi menggunakan standar JIS dan ISO dengan sertifikasi system manajemen mutu ISO 9001:2000.
        </p>
      </div>
    </div>
    
    <div class="additional-images">
      <img src="assets/img/brand/rs1.png" alt="RUCIKA Standard">
      <img src="assets/img/brand/rs2.png" alt="Product Image 2">
      <img src="assets/img/brand/rs3.png" alt="Product Image 3">
    </div>
  </div>
</div>
