<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"WASSER"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/wasser.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. Wahana Duta Jaya Rucika</h3>
        <p>
          Alio Building, 7th Floor Jl. Ridwan Rais 10 - 18 (Gambir) Jakarta 10110, Indonesia
          <br>Email: info@rucika.co.id
          <br>Telp.: (021) 386 7777
          <br>Website: <a href="http://www.rucika.co.id" target="_blank">www.rucika.co.id</a>
        </p>
        
      </div>
    </div>
  </div>
</div>
