<div class="review-container">
  <div class="header">
    <h1>REVIEW MATERIAL</h1>
    <h2>"Rucika TELECOM"</h2>
  </div>
  
  <div class="content">
    <div class="product-info">
      <img src="assets/img/brand/rt1.png" alt="RUCIKA Standard" class="product-image">
      <div class="product-details">
        <h3>PT. Wahana Duta Jaya Rucika</h3>
        <p>
          Alio Building, 7th Floor Jl. Ridwan Rais 10 - 18 (Gambir) Jakarta 10110, Indonesia
          <br>Email: info@rucika.co.id
          <br>Telp.: (021) 386 7777
          <br>Website: <a href="http://www.rucika.co.id" target="_blank">www.rucika.co.id</a>
        </p>
        <p>PT. Wahana Duta Jaya Rucika terus maju dengan mengembangkan berbagai inovasi produk untuk meningkatkan kualitas hidup. Seiring dengan makin pesatnya kemajuan teknologi komunikasi dan informasi yang ditandai dengan semakin banyaknya pengguna kabel serat optik maka PT. Wahana Duta Jaya Rucika selaku salah satu produsen pipa plastik terbesar di Indonesia, dengan bangga mempersembahkan salah satu produk terhandalnya yaitu Rucika TELECOM.a</p>
      </div>
    </div>
    
    <div class="additional-images">
      <img src="assets/img/brand/rt1.png" alt="RUCIKA Standard">
      <img src="assets/img/brand/rt2.png" alt="Product Image 2">
    </div>
  </div>
</div>
