<!-- Footer -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="footer text-white">
  <div class="container" style="background-color: #097862; width: 100%; height: auto; padding: 20px;">
    <div class="row py-4">
      <div class="col-md-4 d-flex flex-column align-items-start">
        <div class="footer-logo mb-3">
          <img src="assets/img/brand/berakhlakk.png" alt="BerAKHLAK Logo" style="max-width: 100%;">
        </div>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Form Keberatan Informasi Publik</a></li>
          <li><a href="#" class="text-white">Form Pengaduan Penyalahgunaan ASN</a></li>
          <li><a href="#" class="text-white">Form Pengaduan Pungli</a></li>
          <li><a href="#" class="text-white">Whistleblowing System</a></li>
          <li><a href="#" class="text-white">Form Indeks Kepuasan Masyarakat</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <div class="footer-logo mb-3">
          <img src="assets/img/brand/logo-asb-muba.png" alt="Musi Banyuasin Logo" style="max-width: 100%;">
        </div>
        <address>
          <strong>BAGIAN ADMINISTRASI PEMBANGUNAN PEMERINTAH KABUPATEN MUSI BANYUASIN</strong><br>
          Jalan Merdeka Lk. I No.452 Kel. Serasan Jaya Kec. Sekayu Kab. Musi Banyuasin 30711<br>
          <a href="mailto:admin@mubakab.go.id" class="text-white">admin@mubakab.go.id</a><br>
          <a href="tel:0714321021" class="text-white">0714-321-021</a>
        </address>
        <div class="social-icons">
          <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="visitors mb-3">
          <h5 class="text-white">Visitors</h5>
          <img src="assets/img/brand/visitor.png" alt="Flag Counter" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom" style="background-color: #005847; padding: 10px 0;">
    <div class="container text-center">
      <p class="mb-0">&copy; 2024 Bagian Administrasi Pembangunan Pemerintah Kabupaten Musi Banyuasin</p>
    </div>
  </div>
</footer>
